body {
  background-color: #117ec1; /* Ceci est une couleur grise claire */
  color: white;
  background-image: url(../src/assets/7ff964a9741b39ee2716f0cb202951aa.jpg);
}

.back-Image {
  width: 45%; /* Remplacez par la largeur souhaitée */
  height: auto; /* Remplacez par la hauteur souhaitée */
  filter: blur(0.7px);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 70px;
}

.back-Image:hover {
  transform: scale(1.05);
}
