/* Style global pour le body */
body {
  background-color: #117ec1; /* Couleur de fond bleue */
  color: white;
  background-image: url(../src/assets/7ff964a9741b39ee2716f0cb202951aa.jpg);
  background-repeat: no-repeat;
  background-size:cover; /* L'image couvre tout l'arrière-plan */
}

.card-container {
  display: flex;
  flex-wrap: wrap; /* Permet aux cartes de s'organiser automatiquement */
  justify-content: center; /* Centre le contenu */
  gap: 20px; /* Ajoute de l'espace entre les cartes */
  margin-top: 10%; /* Ajoute de l'espace au-dessus des cartes */
}

/* Style pour chaque carte */
.card-face , .card-back {
  width: 100px; /* Largeur de la carte */
  height: 150px; /* Hauteur de la carte */
  border: 1.5px solid white; /* Ajoute une bordure autour de la carte */
  border-radius: 10px; /* Coins arrondis pour un aspect doux */
  overflow: hidden; /* Évite le débordement de contenu */
  filter: blur(0.5px);
  transition: transform 0.8s; 
  transform-style: preserve-3d; /* Préserve l'effet 3D lors de la rotation */
}

/* Effet de survol pour agrandir légèrement les cartes */
.card-face , .card-back:hover {
  transform: scale(1.07); /* Agrandit la carte lors du survol */
}

/* Effet de rotation lors du clic sur la carte */
.card-back:active {
  transform: rotateY(180deg); /* Applique l'effet de rotation lors du clic */
}


/* Style pour le titre */
h1 {
  font-size: 2em; /* Taille de police pour le titre */
  margin-left: 20px; 
  margin-bottom: 20px; /* Espace sous le titre */
  filter: blur(0.3px);
}


.timer {
  font-size: 2em; /* Taille de police pour le titre */
  margin-left: 20px; 
  filter: blur(0.3px);
}

button {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 10px;
}



.Igor {
  width: 15%; /* Largeur de la carte */
  height: auto; /* Hauteur de la carte */
  position: fixed; /* Position fixe par rapport à la fenêtre du navigateur */
  bottom: 0; /* Positionné en bas de la page */
  left: 50%; /* Positionné au milieu de la page */
  transform: translateX(-50%); /* Déplace l'image à gauche de sa moitié pour la centrer parfaitement */
}


.congratulations-message {
  background-color: rgba(33, 69, 148, 0.808); /* Contexte avec transparence pour un meilleur contraste */
  color: white; /* Couleur de texte */
  padding: 1em; /* Espacement autour du texte */
  font-size: 1.2em; /* Taille de police */
  text-align: center; /* Pour centrer le texte */
}

.congratulations-message.show {
  opacity: 1; /* Transition pour rendre le message visible */
}

.card-disabled {
  opacity: 0.8; /* Rend la carte semi-transparente */
  pointer-events: none; /* Désactive les interactions utilisateur */
}